{% extends 'layout.html' %}
{% block header %}

    <span class="logged-style">
        <span>{{usernamedisplay}}</span>
        <a href="{{url_for('index')}}"><span class="logout-color">Log out</span></a>
    </span>
{% endblock %}

{% block maincontent %}
 <div class="book-flex-container">
    <div class="exit-button push-right">
        <div class="x-position">
           X
        </div>
      </div>
 </div>
 <div class="book-flex-container">
   <div class="book-flex-container-item">
     "Tytuł ksiązki" - Autor ksiazki
   </div>

   <div class="book-flex-container-item">
     <p>Rok publikacji: 2015</p>
     <p>ISBN:125-125-12-12</p>
   </div>

   <div class="book-flex-container-item">
     <p class="score">4.5 / 5</p> 
     <p class="count">12532</p> 
  </div>
  <div class="book-flex-container-item">
      Rate book:
      <div class="book-flex-container container-override">
        <div class="score-style">1</div>
        <div class="score-style">2</div>
        <div class="score-style">3</div>
        <div class="score-style">4</div>
        <div class="score-style">5</div>
      </div>
   </div>
   <div class="book-flex-container-item">
     <p class="date-format">12.06.2018   user:APK_p86</p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin sit amet consequat metus. Maecenas vel pulvinar diam. Vestibulum ultrices, lorem vitae ullamcorper faucibus, lorem elit efficitur elit, sed porttitor enim justo id tellus. Praesent tempor metus vitae tellus placerat ornare. Duis id gravida dolor.
   </div>

   <div class="book-flex-container-item">
    <p class="date-format">Add comment</p>
    <div>
      <textarea rows="4" class="textarea-forma"></textarea>
    </div>
   
    </div>
    <div class="book-flex-container-item">
        <div class="buttons-position-comment">
            <span class="front-buttons-comments">
                Add comment
            </span>
        </div>
    </div>

 </div>
 {% endblock %}

