{% extends 'layout.html' %}
{% block header %}
    <span class="icon-positions">
      <i class="fab fa-instagram"></i>
      <i class="fab fa-twitter"></i>
      <i class="fab fa-facebook-f"></i>
      <i class="fas fa-globe-americas"></i>
    </span>
{% endblock %}


{% block maincontent %}
<div class="flex-container">
        <div class="left-content">
           <img src="/static/img/books.svg" class="img-possition">
        </div>
         
     
        <div class="right-content back">
          <div class="button-position">
              <span class="text-style t1-font">Share your </span>
              <span class="text-style t1-font">knowledge</span> 
              <span class="text-style t2-font">Share opinions</span> 
              <span class="text-style t3-font">Share passion </span> 
              <div class="buttons-position">
                <a href="{{url_for('join')}}">
                  <span class="front-buttons">
                    Sign in
                  </span>
                </a>
                <a href="{{url_for('login')}}">
                  <span class="front-buttons">
                    Log in 
                  </span>
                </a>  
              </div>

            </div>
          
            
         </div>
</div>         
     
{% endblock %}





