{% extends 'layout.html' %}
{% block header %}
    <span class="icon-positions">
      <i class="fab fa-instagram"></i>
      <i class="fab fa-twitter"></i>
      <i class="fab fa-facebook-f"></i>
      <i class="fas fa-globe-americas"></i>
    </span>
{% endblock %}

{% block maincontent %}
  <div class="flex-container join-site">
    <span class="text-style t3-font join-site-join-text">
      Join Bookrev
    </span> 
    <form action="{{ url_for('join') }}" method="POST">
        <div class="input-div">
            <input type="text" placeholder="Name" name="username">
          </div>
          <div class="input-div" >
            <input type="text" placeholder="Email" name="useremail">
          </div>
          <div class="input-div">
            <input type="password" placeholder="Password" name="userpass">
          </div>
          <div class="buttons-position">
            <button>
              clisk

            </button>
            <span class="front-buttons">
              Create account
            </span>
        </div>

    </form>

 </div>
 {% endblock %}
