{% extends 'layout.html' %}
{% block header %}
    <span class="icon-positions">
      <i class="fab fa-instagram"></i>
      <i class="fab fa-twitter"></i>
      <i class="fab fa-facebook-f"></i>
      <i class="fas fa-globe-americas"></i>
    </span>
    {% endblock %}

{% block maincontent %}
  <div class="flex-container join-site">
    <span class="text-style t3-font join-site-join-text">
      Log in
    </span> 
    <div class="input-div">
      <input type="text" placeholder="Username">
    </div>
    <div class="input-div">
      <input type="password" placeholder="Password">
    </div>
    <div class="buttons-position">
      <button class="front-buttons button-noborder">
            Log in
      </button>
  </div>
 </div>
 {% endblock %}
