{% extends 'layout.html' %}
{% block header %}

    <span class="logged-style">
        <span>{{usernamedisplay}}</span>
        <a href="{{url_for('logout')}}"><span class="logout-color">Log out</span></a>
    </span>
    {% endblock %}


{% block maincontent %}
  <div class="flex-container search-site">
      <span class="text-style t3-font join-site-join-text">
          Search books
      </span> 
      <form action="{{url_for('search')}}" method="POST">
    <div class="input-div">
      <input type="text" placeholder="Enter book" name="searchfield">
    </div>

    <div class="buttons-position">
        <button class="front-buttons button-noborder">
            search
      </button>
  </div>
  </form>
 </div>
 {% endblock %}

